@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slow-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(8px);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out;
  }

  .animate-slow-zoom {
    animation: slow-zoom 20s ease-in-out infinite alternate;
  }

  .animate-scroll {
    animation: scroll 1.5s ease-in-out infinite;
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
  }
}
@keyframes loaderBar {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(320%);
  }
}

.animate-loader-bar {
  animation: loaderBar 1.2s ease-in-out infinite;
}
@keyframes shimmerEffect {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.shimmer {
  background-size: 800px 100%;
  animation: shimmerEffect 1.4s infinite linear;
}
